.headerfirst img{
    position: absolute;
    z-index: -5;
    width: 100%;
    opacity: 0.9;
    
}
.headerfirst {
    color: aliceblue;
}

.header-container .headersnd{
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding-top: 280px;
    padding-bottom: 76px;
    
}

.headerfirst img:hover{
    transition: 2s;
    
}
.header-container .headersnd button{
    border-radius: 30px;
    color: darkcyan;
    font-size:170%;
}