.headerfirst img{
    position: absolute;
    z-index: -5;
    width: 100%;
    opacity: 0.9;
    
}
.headerfirst {
    color: aliceblue;
}

.header-container .headersnd{
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding-top: 280px;
    padding-bottom: 106px;
    
}
.headersnd{
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count:unset;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.header-container .headersnd button{
    border-radius: 30px;
    color: darkcyan;
    font-size:170%;
}