.payment{
    width: 1000px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.paymentprocess{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:60px ;
    margin-left:400px ;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(112, 155, 56, 0.671);
}
.paymentprocess .paydiv{
    padding-bottom: 100px;
}